{
    "settings": {
        "backup_folder": "backup/"
    },
    "websites": {
        "nameforthefirstwebsite": {
            "config": {
                "host": "",
                "username": ""
            },
            "databases": {
                "databasename1": {
                    "mysql_host": "",
                    "mysql_user": "",
                    "mysql_pwd": ""
                }
            }
        }
    }
}