{
    "settings": {
        "backup_folder": "backup/"
    },
    "websites": {
        "labelnameforthewebsite": {
            "config": {
                "host": "",
                "username": "",
                "mysql_host": "",
                "mysql_user": "",
                "mysql_pwd": ""
            },
            "databases": [
                ""
            ]
        }
    }
}